<p id="notice"><%= notice %></p>
<ul>
<li>
  <strong>Category:</strong>
  <%= @cost.category.name %>
  <br>
  <strong>Amount:</strong>
  <%= @cost.amount %>
</li>
</ul>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
