<p id="notice"><%= notice %></p>

<ul>
<li>
  <strong>Category:</strong>
  <%= @income.category.name %>
  <br>
  <strong>Amount:</strong>
  <%= @income.amount %>
</li>
</ul>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
