<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
	  <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
	    <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><p align="center"><strong>
Total Income = <%=Income.sum(:amount)%><br>
Total Cost = <%=Cost.sum(:amount)%><br>
Balance = <%=(Income.sum(:amount) - Cost.sum(:amount)) %> <br>
<% if((Income.sum(:amount) - Cost.sum(:amount))>500) %>
	<%="good to go"%>
	<% elsif((Income.sum(:amount) - Cost.sum(:amount))>100) %>	
	<script> alert("low balance"); </script> 
	<% else %>
	<script> alert("Watch out: Expenses are greater than income"); </script> 
<% end %>
</strong></p>
<br>
<br>

<p align="right" style="padding: 0 150px"><strong><%= link_to 'New Category', new_category_path %></strong></p>
