<p id="notice"><%= notice %></p>

<p align="center" style="font-size:100%">
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h3>Incomes</h3>
<div id="incomes">
	<!-- <%= @category.incomes.each do |income| %>
	 <%= div_for income do %>
	 <li>
        <%= h(income.category.name) %>
	 	<%= h(income.amount) %>
	 </li>
	 <% end %>
	<% end %> -->
	<%= render :partial => @category.incomes.reverse %>
</div>
<%= form_for([@category, Income.new], remote: true) do |f| %>
	<p><strong><%= f.label :amount, "New Income" %><br />
		<%= f.number_field :amount %>
	</strong></p>
	<p><%= f.submit "Add Income" %></p>
<% end %>



<h3>Costs</h3>
<div id="costs">
	<!-- <%= @category.costs.each do |cost| %>
	 <%= div_for cost do %>
	 <p>
        
        <%= h(cost.category.name) %>
	 	<%= h(cost.amount) %>
	 </p>
	 <% end %>
	<% end %> -->
	<%= render :partial => @category.costs.reverse %>
</div>
<%= form_for([@category, Cost.new], remote: true) do |f| %>
	<p><strong><%= f.label :amount, "New Cost" %><br />
		<%= f.number_field :amount %>
	</strong></p>
	<p><%= f.submit "Add Cost" %></p>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
